@import "../global/variables";

.booking {
  padding: 40px 20px 50px;
  background-color: #ffffff;

  @media (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 68px;
  }
}

.booking__title {
  margin: 0 0 20px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

  br {
    display: none;
  }

  @media (min-width: $tablet) {
    max-width: 458px;
    margin: 0 auto 32px;
    font-size: 30px;

    br {
      display: block;
    }
  }
}

.booking__text {
  margin: 0 0 32px;
  text-align: center;

  br {
    display: none;
  }

  @media (min-width: $tablet) {
    max-width: 458px;
    margin: 0 auto 42px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 46px;
  }
}

.booking__link {
  box-sizing: border-box;
  display: block;
  text-align: center;
  text-decoration: none;

  @media (min-width: $tablet) {
    max-width: 458px;
    margin: 0 auto;
  }
}
