.booking {
  padding: 20px;
}

.booking__title {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.booking__text {
  text-align: center;
}

.booking__link {
  display: block;
  padding: 16px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  background-color: #81b3d2;
  color: #ffffff;
}
