@import "../global/variables";

.field-group {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet) {
    &--name {
      margin-right: 40px;

      .field-group__title {
        padding-left: 20px;
      }
    }

    &--contacts {
      margin-left: 40px;

      .field-group__title {
        padding-right: 20px;
      }
    }

    &--impression, &--visited-places, &--emotions {
      .field-group__title {
        position: relative;
        width: 380px;
        padding: 0 10px;

        &::before, &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          top: 50%;
          background-color: #dbdbdb;
        }

        &::before {
          right: 100%;
        }

        &::after {
          left: 100%;
        }
      }

      .field-group__list {
        display: flex;
        flex-wrap: wrap;
        padding: 0 36px;
        gap: 16px;
      }
    }
  }

  @media (min-width: $desktop) {
    &--name {
      margin-right: 64px;

      .field-group__title {
        padding-left: 32px;
      }
    }

    &--contacts {
      margin-left: 64px;

      .field-group__title {
        padding-right: 32px;
      }
    }

    &--impression, &--visited-places, &--emotions {
      .field-group__list {
        padding: 0 52px;
        gap: 16px 0;
      }
    }
  }
}

.field-group__title {
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: $tablet) {
    margin-bottom: 28px;
    font-size: 20px;
  }
}

.field-group__list {
  margin: 0;
  padding: 0;
  max-width: calc(100vw - 40px);
  list-style: none;
}

.field-group__item {
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;

  &--radio,
  &--checkbox {
    flex-direction: row;

    @media (min-width: $tablet) {
      width: calc(50% - 8px);
      margin-bottom: 0;
    }

    @media (min-width: $desktop) {
      margin-right: auto;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    &--radio {
      width: 30%;
    }

    &--checkbox {
      width: 22%;
    }

    &--textarea {
      max-width: $tablet;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.field-group__label {
  padding: 0 0 0 16px;

  @media (min-width: $tablet) {
    width: 100%;
  }
}

.field-group__input {
  padding: 16px;
  border: none;
  background-color: #f2f2f2;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:checked + .field-group__radio::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 15px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #333333;
  }

  &:checked + .field-group__checkbox::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 12px;
    width: 22px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/tick.svg");
  }
}

.field-group__radio {
  position: relative;
  padding: 10px 0 10px 62px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #f2f2f2;
  }
}

.field-group__checkbox {
  position: relative;
  padding: 10px 0 10px 62px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    border-radius: 4px;
    background-color: #f2f2f2;
  }
}

.field-group__textarea {
  box-sizing: border-box;
  padding: 16px;
  height: 150px;
  resize: vertical;
  border: none;
  background-color: #f2f2f2;
  overflow: auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}
