.hero {
  background-color: #7c97a3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/back-mobile.jpg");
  padding: 90px 0 85px;
}

.hero__image {
  display: block;
  margin: 0 auto;
}
