@import "../global/variables";

.page {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.page__body {
  margin: 0;
  padding: 0;
  background-color: $grey-shade1-color;
}

.page__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
