@import "../global/variables";

.presentation {
  padding: 16px 20px 0;

  @media (min-width: $tablet) {
    padding: 16px 60px 50px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 92px;
  }
}

.presentation__title {
  margin: 0 0 28px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: $tablet) {
    max-width: 458px;
    margin: 0 auto 30px;
    font-size: 30px;
  }
}

.presentation__subtitle {
  margin: 0 4px 36px;
  text-align: center;

  @media (min-width: $tablet) {
    max-width: 458px;
    margin: 0 auto 90px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 88px;
  }
}

.presentation__content {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.presentation__play-button {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  padding: 0;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/play-button.svg");
  opacity: 0.7;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.presentation__play-button--pause {
  background-image: none;
  opacity: 0;

  &:hover {
    opacity: 1;

    &::before,
    &::after {
      position: absolute;
      top: calc(50% - 27px);
      content: "";
      width: 16px;
      height: 54px;
      background-color: #ffffff;
    }

    &::before {
      left: calc(50% - 24px);
    }

    &::after {
      left: calc(50% + 8px);
    }
  }
}

.presentation__video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (min-width: $tablet) {
    height: 500px;
  }
}
